In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [2]:
ser1=Series([1,2,3,4], index=['a', 'b', 'c', 'd'])
ser1

a    1
b    2
c    3
d    4
dtype: int64

In [4]:
ser2=ser1.reindex(['a', 'b', 'c', 'd', 'e', 'f'])
ser2

a    1.0
b    2.0
c    3.0
d    4.0
e    NaN
f    NaN
dtype: float64

In [5]:
ser2.reindex(['a', 'b', 'c', 'd', 'e', 'f','g'],fill_value=0)

a    1.0
b    2.0
c    3.0
d    4.0
e    NaN
f    NaN
g    0.0
dtype: float64

In [8]:
ser_3=Series(['Ileana', 'Pablo', 'Guy'], index=[1,3,6])

In [9]:
ser_3

1    Ileana
3     Pablo
6       Guy
dtype: object

In [10]:
ranger=range(15)
ranger

range(0, 15)

In [11]:
ser_3.reindex(ranger,method='ffill')

0        NaN
1     Ileana
2     Ileana
3      Pablo
4      Pablo
5      Pablo
6        Guy
7        Guy
8        Guy
9        Guy
10       Guy
11       Guy
12       Guy
13       Guy
14       Guy
dtype: object

In [12]:
dframe=DataFrame(randn(25).reshape((5,5)), index=['a', 'b', 'c', 'e', 'f'],columns=['col1','col2', 'col3', 'col4', 'col5'])

dframe

       col1      col2      col3      col4      col5
a  0.262702  0.280231  1.133016 -1.932027  1.116358
b  1.344295 -0.241660 -0.213244  0.549565  0.381896
c -0.160160 -0.834086 -0.720505 -1.066102  0.371121
e -0.421031 -0.231034 -1.260888 -0.884855 -2.338927
f -1.759049 -1.292938 -0.333855 -1.181236 -0.728418

In [13]:
dframe2=dframe.reindex(['a', 'b', 'c', 'd','e','f'])

In [14]:
dframe2

       col1      col2      col3      col4      col5
a  0.262702  0.280231  1.133016 -1.932027  1.116358
b  1.344295 -0.241660 -0.213244  0.549565  0.381896
c -0.160160 -0.834086 -0.720505 -1.066102  0.371121
d       NaN       NaN       NaN       NaN       NaN
e -0.421031 -0.231034 -1.260888 -0.884855 -2.338927
f -1.759049 -1.292938 -0.333855 -1.181236 -0.728418

In [15]:
new_columns=['col1','col2', 'col3', 'col4', 'col5','col6']
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
a  0.262702  0.280231  1.133016 -1.932027  1.116358   NaN
b  1.344295 -0.241660 -0.213244  0.549565  0.381896   NaN
c -0.160160 -0.834086 -0.720505 -1.066102  0.371121   NaN
d       NaN       NaN       NaN       NaN       NaN   NaN
e -0.421031 -0.231034 -1.260888 -0.884855 -2.338927   NaN
f -1.759049 -1.292938 -0.333855 -1.181236 -0.728418   NaN

In [16]:
dframe

       col1      col2      col3      col4      col5
a  0.262702  0.280231  1.133016 -1.932027  1.116358
b  1.344295 -0.241660 -0.213244  0.549565  0.381896
c -0.160160 -0.834086 -0.720505 -1.066102  0.371121
e -0.421031 -0.231034 -1.260888 -0.884855 -2.338927
f -1.759049 -1.292938 -0.333855 -1.181236 -0.728418

In [29]:
dframe.iloc[['a','b','c', 'd', 'e','f'], new_columns]

IndexError: .iloc requires numeric indexers, got ['a' 'b' 'c' 'd' 'e' 'f']