In [1]:
import numpy as np

import pandas as pd

from pandas import Series, DataFrame

In [2]:
obj= Series([3,6,9,12])

obj

0     3
1     6
2     9
3    12
dtype: int64

In [3]:
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [4]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
ww2=Series([87000000,4300000,300000], index=['USSR','Germany', 'Japan'])

ww2

USSR       87000000
Germany     4300000
Japan        300000
dtype: int64

In [9]:
ww2['Germany']

4300000

In [10]:
ww2[ww2>50000]

USSR       87000000
Germany     4300000
Japan        300000
dtype: int64

In [11]:
'Germany' in ww2

True

In [14]:
ww2_dict=ww2.to_dict()
ww2_dict

{'USSR': 87000000, 'Germany': 4300000, 'Japan': 300000}

In [15]:
ww2_series=Series(ww2_dict)

In [16]:
ww2_series

USSR       87000000
Germany     4300000
Japan        300000
dtype: int64

In [17]:
countries=['USSR','Germany', 'Japan','Greece']

In [18]:
obj2=Series(ww2_dict,index=countries)

In [19]:
obj2

USSR       87000000
Germany     4300000
Japan        300000
dtype: int64

In [20]:
pd.isnull(obj2)

USSR       False
Germany    False
Japan      False
dtype: bool

In [22]:
ww2_series + obj2

USSR       174000000
Germany      8600000
Japan         600000
dtype: int64

In [23]:
obj2.name='ileana'

In [25]:
obj2

USSR       87000000
Germany     4300000
Japan        300000
dtype: int64

In [26]:
obj2

USSR       87000000
Germany     4300000
Japan        300000
dtype: int64

In [28]:
obj2.index.name='Countries'

In [29]:
obj2

Countries
USSR       87000000
Germany     4300000
Japan        300000
dtype: int64