In [1]:
import numpy as np

In [12]:
import pandas as pd
from pandas import Series, DataFrame

In [7]:
import webbrowser
website='http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [13]:
nfl_frame=pd.read_clipboard()
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First,NFL,season,Division
1,Green,Bay,Packers,"1,384",769,577,38.000,0.569,1921,NFC,North
2,Dallas,Cowboys,930,526,398,6,0.569,1960.000,NFC,East,None
3,Baltimore,Ravens,400,225,174,1,0.564,1996.000,AFC,North,None
4,Chicago,Bears,"1,418",777,599,42,0.563,1920.000,NFC,North,None
5,New,England,Patriots,932,519,404,9.000,0.562,1960,AFC,East

In [14]:
nfl_frame.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'First', 'NFL',
       'season', 'Division'],
      dtype='object')

In [16]:
nfl_frame['Lost']

1    769
2    398
3    174
4    599
5    519
Name: Lost, dtype: int64

In [17]:
DataFrame(nfl_frame,columns=['GP','Won','Tied','First'])

         GP    Won  Tied     First
1   Packers  1,384   577     0.569
2       930    526     6  1960.000
3       400    225     1  1996.000
4     1,418    777    42  1920.000
5  Patriots    932   404     0.562

In [18]:
DataFrame(nfl_frame,columns=['GP','Won','Tied','First', 'Country'])

         GP    Won  Tied     First  Country
1   Packers  1,384   577     0.569      NaN
2       930    526     6  1960.000      NaN
3       400    225     1  1996.000      NaN
4     1,418    777    42  1920.000      NaN
5  Patriots    932   404     0.562      NaN

In [19]:
nfl_frame.head(3)

,Rank,Team,GP,Won,Lost,Tied,Pct.,First,NFL,season,Division
1,Green,Bay,Packers,"1,384",769,577,38.000,0.569,1921,NFC,North
2,Dallas,Cowboys,930,526,398,6,0.569,1960.000,NFC,East,None
3,Baltimore,Ravens,400,225,174,1,0.564,1996.000,AFC,North,None

In [20]:
nfl_frame.tail(2)

,Rank,Team,GP,Won,Lost,Tied,Pct.,First,NFL,season,Division
4,Chicago,Bears,"1,418",777,599,42,0.563,1920.000,NFC,North,None
5,New,England,Patriots,932,519,404,9.000,0.562,1960,AFC,East

In [23]:
nfl_frame.iloc[3]

Rank        Chicago
Team          Bears
GP            1,418
Won             777
Lost            599
Tied             42
Pct.          0.563
First          1920
NFL             NFC
season        North
Division       None
Name: 4, dtype: object

In [29]:
nfl_frame['Country']='Greece'

In [30]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First,NFL,season,Division,Country
1,Green,Greece,Packers,"1,384",769,577,38.000,0.569,1921,NFC,North,Greece
2,Dallas,Greece,930,526,398,6,0.569,1960.000,NFC,East,None,Greece
3,Baltimore,Greece,400,225,174,1,0.564,1996.000,AFC,North,None,Greece
4,Chicago,Greece,"1,418",777,599,42,0.563,1920.000,NFC,North,None,Greece
5,New,Greece,Patriots,932,519,404,9.000,0.562,1960,AFC,East,Greece

In [43]:
nfl_frame['Country']=np.arange(5)
nfl_frame

AttributeError: module 'pandas' has no attribute 'arange'

In [44]:
countries=Series(["Greece", "Portugal", "Netherlands"],index=[1,4,5])
countries

1         Greece
4       Portugal
5    Netherlands
dtype: object

In [45]:
nfl_frame['Country']=countries
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First,NFL,season,Division,Country
1,Green,Greece,Packers,"1,384",769,577,38.000,0.569,1921,NFC,North,Greece
2,Dallas,Greece,930,526,398,6,0.569,1960.000,NFC,East,None,NaN
3,Baltimore,Greece,400,225,174,1,0.564,1996.000,AFC,North,None,NaN
4,Chicago,Greece,"1,418",777,599,42,0.563,1920.000,NFC,North,None,Portugal
5,New,Greece,Patriots,932,519,404,9.000,0.562,1960,AFC,East,Netherlands

In [47]:
del nfl_frame['Country']
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First,NFL,season,Division
1,Green,Greece,Packers,"1,384",769,577,38.000,0.569,1921,NFC,North
2,Dallas,Greece,930,526,398,6,0.569,1960.000,NFC,East,None
3,Baltimore,Greece,400,225,174,1,0.564,1996.000,AFC,North,None
4,Chicago,Greece,"1,418",777,599,42,0.563,1920.000,NFC,North,None
5,New,Greece,Patriots,932,519,404,9.000,0.562,1960,AFC,East

In [48]:
data={'City': [ 'GR', 'NL', 'PT'], 'Population': [5000,6000,700] }

In [49]:
city_frame=DataFrame(data)

In [50]:
city_frame

  City  Population
0   GR        5000
1   NL        6000
2   PT         700