In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
from io import StringIO

In [5]:
data="""\
Sample Animal Intelligence
1. Dog Smart
2. Dog Smart
3. Cat Dumb
4. Cat Dumb
5. Dog Dumb"""

In [6]:
dframe=pd.read_table(StringIO(data),sep='\s+')

In [7]:
dframe

   Sample Animal Intelligence
0     1.0    Dog        Smart
1     2.0    Dog        Smart
2     3.0    Cat         Dumb
3     4.0    Cat         Dumb
4     5.0    Dog         Dumb

In [8]:
pd.crosstab(dframe.Animal,dframe.Intelligence,margins=True)

Intelligence  Dumb  Smart  All
Animal
Cat              2      0    2
Dog              1      2    3
All              3      2    5