In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
xlsfile=pd.ExcelFile('Lecture 28 test.xlsx')

In [4]:
dframe=xlsfile.parse('Sheet1')

In [5]:
dframe

   this is a test  Unnamed: 1  Unnamed: 2  Unnamed: 3
0               5          35         666         789
1               5          35         666         789
2               5          35         666         789
3               5          35         666         789
4               5          35         666         789
5               5          35         666         789
6               5          35         666         789